<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278783358961-95vi8sef1423iqf5cn8mp36g2k5fnnlf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278783358961-95vi8sef1423iqf5cn8mp36g2k5fnnlf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>278783358961-hqur6kiemlnd2nnnmdabr5riljfhc3pp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvW9acObIgsgqUNXi0VCedJoe80WJVamc</string>
	<key>GCM_SENDER_ID</key>
	<string>278783358961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digitalcardsgaammabytes.app</string>
	<key>PROJECT_ID</key>
	<string>gammacards-379917</string>
	<key>STORAGE_BUCKET</key>
	<string>gammacards-379917.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278783358961:ios:dcd23e6bdb9dcc6b223650</string>
</dict>
</plist>